:root {
     --bg-info-news: url(../image/bg/bg_info_news.svg);
     --text-download:#037171;
}
.bg_info_news{
     background-image: var(--bg-info-news);
     width: 100%;
     height: 57vh;
     /* filter: blur(11px); */
     background-repeat: no-repeat;
     background-size: contain;
 }
 .blur{
      filter: blur(11px);
 }
 .text_download{
     color: var(--text-download);
 }

 @media (min-width: 320px) { 
    .h_info_news{
        color: #00B9AE;
     }
     .margin_info_news {
          margin-top: 3%;
      }
      .bg_info_news {
          background-image: var(--bg-info-news);
          width: 100%;
          height: 40vh;
          /* filter: blur(11px); */
          background-repeat: no-repeat;
          background-size: contain;
      }
      .box_download{
          margin-top: 10%;
           margin-bottom: 10%;
     }
}

@media (min-width: 768px) { 
     .margin_info_news {
        margin-top: 17%;
      }
      .position_cover {
          position: absolute;
          top: 25%;
      }
      .margin_more_news {
        margin-top: 12%;
        margin-bottom: 0%;
      }
      .box_download {
          margin-top: 3%;
          margin-bottom: 3%;
      }
}

@media (min-width: 1024px) { 
     .position_cover {
          position: absolute;
          top: 30%;
      }
      .margin_more_news {
          margin-top: 6%;
          margin-bottom: 0%;
      }
      .bg_info_news {
        background-image: var(--bg-info-news);
        width: 100%;
        height: 65vh;
        /* filter: blur(11px); */
        background-repeat: no-repeat;
        background-size: contain;
    }
}
 

@media (min-width: 1200px) { 
     .bg_info_news {
          background-image: var(--bg-info-news);
          width: 100%;
          height: 73vh;
          /* filter: blur(11px); */
          background-repeat: no-repeat;
          background-size: contain;
      }
}
 

 @media (min-width: 1440px) { 
     .position_cover{
          position: absolute;
          top: 35%;
     }
      .margin_info_news {
        margin-top: 21%;
      }
      .margin_more_news {
        margin-top: 11%;
        margin-bottom: 0%;
      }
}


 @media (min-width: 1900px) {
    .bg_info_news {
        background-image: var(--bg-info-news);
        width: 100%;
        height: 100vh;
        /* filter: blur(11px); */
        background-repeat: no-repeat;
        background-size: contain;
    }
    .margin_more_news {
        margin-top: -11%;
        margin-bottom: 0%;
    }
     /* .margin_info_news {
          margin-top: 10%;
      } */
      .box_download{
          margin-top: 3%;
          margin-bottom: 3%;
     }
     .position_cover{
          position: absolute;
          top: 35%;
     }
     .margin_info_news{
        margin-top: 26%;
     }
     .box_test{
          width: 1320px;
     }
     .box_info_news{
          width: 100%;
          height: 519px;
     }
     .blur{
          filter: blur(11px);
     }
     .h_info_news{
        color: #00B9AE;
     }
 }
 .fullscreen-img {
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
}

.fullscreen-img.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 9999;
    padding: 50px;
}