@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
     --template-green: #037171;
     --cancel-templat-green: #F8F9FA;
     --text-color:#00B9AE;
     --header-template-green:#037171;
     --footer-template-green:#03312E;
     --btn-whtie:#fff;
     --btn-search:#037171;
     --text-search:#FFF;
     --btn-tag:#E9ECFE;
     --text-btn-tag:#037171;
     --text-book-new:#037171;
     --text-more:#037171;
     --text-week:#495057;
     --bg-cover-new:#00B9AE;
     --btn-hover:#48b9b2;
     --bg-main: url(../image/bg/bg.svg);


     --template-orange: #FF9505;
     --cancel-templat-orange: #F8F9FA;

     --template-pink: #FB6F92;
     --cancel-templat-orange: #F8F9FA;
}
a {
    text-decoration: none;
}
body{
     font-family: 'Prompt', sans-serif;
     font-size: 16px;
}
.menu_text_color li a{
     color: var(--btn-whtie);
}
.text_footer{
    margin: 0px;
    padding: 10px;
}
.area_but_tag{
    margin: 7px;
    width: 100%;
}
.btn_tag{
     background-color: var(--btn-tag);
     color: var(--text-btn-tag);
     width: 100%;
     border-radius: 100px;    
     font-size: 12px;
}
.btn_search{
     background-color: var(--btn-search);
     color: var(--text-search);
     width: 100%;
     height: 90%;
     font-weight: 600;
     border-radius: 5px;
     padding: 0px;
}
.icon_search{
     position: absolute;
    z-index: 1;
    padding: 10px;
}
.btn-white {
     background-color: var(--btn-whtie);
     width: 30px;
     height: 30px;
     border-radius: 100%;
     padding: 0px;
 }
 .btn:hover {
     color: var(--bs-btn-hover-color);
     background-color: var(--btn-whtie);
     border-color: var(--header-template-green);
 }
 .bg_main{
     background-image: var(--bg-main);
     width: 100%;
     height: 100vh;
 }
 .box_footer{
    width: 50px;
 }
 .text_book_new{
     font-weight: 900;
     font-size: 50px;
     color: var(--text-book-new);
 }
 .text-week{
     font-weight: 900;
     font-size: 50px;
     color: var(--text-week);
 }
 .text_haeader_card{
     font-size: px;
     text-align: center;
 }
 .but_more{
     font-weight: 600;
     margin: 0px;
     color: var(--text-more)
 }

 .bg_footer{
     background-color: var(--footer-template-green);
     height: auto;
     padding: 10px;
 }
.cover_new_h{
    color: #fff;
    z-index: 3;
}
 .area_form{
     width: 300px;
     margin-left: auto;
     margin-right: auto;
 }

.btn_more{
    margin-left: auto;
    margin-right: auto;
    width: auto;
    padding: 15px;
}
@media (min-width: 320px) { 
    .logo_footer{
        width: 50%;
    }
    .text_num{
        font-size: 10px;
        padding: 2px;
    }
    .text_footer {
        font-size: 10px;
        padding: 0px;
    }
    .box_footer {
        width: 80px;
    }

    .box_new_sub_more{
        background-color: var(--bg-cover-new);
        border-radius: 5px 5px 5px 5px;
        position: absolute;
        opacity: 0.9;
        top: 0%;
        height: 103%;
        width: 100%;
        padding-left: 15px;
       padding-top: 15px;
    }
    .cover_new_heading_sup{
        font-size: 10px;
        color: #FFF;
        margin: 0px;
    }
    .box_new_sub {
        background-color: var(--bg-cover-new);
        border-radius: 0px 0px 5px 5px;
        position: absolute;
        opacity: 0.9;
        top: 64%;
        height: 40%;
        width: 100%;
        padding-left: 15px;
        padding-top: 15px;
    }
    .cover_new_heading {
        color: #FFF;
        font-size: 12px;
        margin: 0px;
    }
    .day_cover{
        font-size: 13px;
        font-weight: 500;
        color: #fff;
        margin: 0px;
        margin-top: 5%;
    }
    .view_new{
        font-size: 12px;
        color: #fff;
        font-weight: 500;
        padding: 5px;
    }
    .margin_new{
        margin-top: 50px;
    }
    .margin_new_1{
        margin-top: 20px;
    }
    .margin_new_2{
        margin-top: 5px;
    }
    .margin_new_3{
        margin-top: 20px;
    }
    .box_new {
        background-color: var(--bg-cover-new);
        border-radius: 0px 0px 5px 5px;
        position: absolute;
        opacity: 0.9;
        top: 72%;
        width: 100%;
        padding-left: 15px;
       padding-top: 15px;
    }
    .btn_more {
        margin-left: auto;
        margin-right: auto;
        width: auto;
        padding: 6px;
        margin-bottom: 30px;
    }
    .box_session {
        margin-bottom: 20px;
        margin-top: -10px;
    }
    .more_but_new {
        background-color: var(--bg-cover-new);
        border-radius: 5px 5px 5px 5px;
        position: absolute;
        top: 1607px;
        opacity: 0.9;
        height: 107px;
        width: 136px;
        z-index: 2;
    }
    .box_view {
        height: 20px;
    }
    .view {
        font-size: 13px;
        font-weight: 500;
        color: #ccc;
        margin-top: 25%;
    }
     .text_haeader_card{
          font-size: 10px;
          color: #495057;
          text-align: center;
      }
      .text_haeader_card_hit{
          font-size: 10px;
          color: #495057;
          text-align: center;
      }
     .text_search {
          color: var(--text-color);
          font-size: 30px;
          text-align: center;
      }
     .text_logo{
          font-size: 18px;
     }
     .bg_menu{
          background-color: var(--template-green);
     }
     .logo{
          width: 70%;
          height: auto;
     }
     .text_logo_menu{
          font-weight: 500;
          font-size: 13px; 
     }
     .area_logo{
          width: 80%;
          margin: 0px;
     }
     .box_logo{
          width: 30%;
          margin: 0px;
     }   
     .area_but_tag {
          margin: 0px;
          width: 100%;
          margin: 0px 0px 2px 2px;
      }  
      .bg_main {
          height: 30vh;
          background-repeat: no-repeat;
          background-size: contain;
      }
      .text_book_new{
          font-weight: 900;
          font-size: 20px;
          color: var(--text-book-new);
      }
      .text-week{
          font-weight: 900;
          font-size: 20px;
          color: var(--text-week);
      }
      .btn_tag {
          font-size: 10px;
      }
      .cover_new{
          width: 100%;
          height: auto;
     }
     .margin_more{
        margin-top: 20px;
     }
 }

@media (min-width: 768px) {
    .logo_footer {
        width: 80%;
    }
    .box_footer {
        width: 50px;
    }
    .text_footer {
        font-size: 15px;
    }
    .text_num {
        font-size: 15px;
    }
    .box_new {
        top: 68%;
    }
    .icon_more{
        width: 50%;
    }
    .margin_more {
        margin-top: -5px;
    }
    .margin_new{
        margin-top: 0px;
    }
    .margin_new_1{
        margin-top: 0px;
    }
    .margin_new_2{
        margin-top: 0px;
    }
    .margin_new_3{
        margin-top: 0px;
    }
     .box_logo{
          width: 30%;
          margin: 0px;
     }
     .box_logo {
          width: 16%;
          margin: 0px;
      }
      .bg_main {
          height: 38vh;
      } 
    .box_new_sub {
        background-color: var(--bg-cover-new);
        border-radius: 0px 0px 5px 5px;
        position: absolute;
        opacity: 0.9;
        top: 40%;
        height: 60%;
        width: 100%;
        padding-left: 9px;
        padding-top: 5px;
    }   
    .cover_new_heading {
        color: #FFF;
        font-size: 10px;
        margin: 0px;
    }  
    .view_new {
        font-size: 10px;
        color: #fff;
        font-weight: 500;
        padding: 5px;
    }
    .day_cover {
        font-size: 10px;
        font-weight: 500;
        color: #fff;
        margin: 0px;
        margin-left: 3px;
        margin-right: 0px;
        margin-top: 9%;
    }
}

@media (min-width: 1024px) { 
     .box_logo{
          width: 30%;
          margin: 0px;
     }
     .box_logo {
          width: 16%;
          margin: 0px;
      }
      .area_logo {
          width: 30%;
          margin: 0px;
      }
      .text_logo {
          font-size: 15px;
          margin-left: 0%;
      }
      .logo {
          width: 100%;
          height: auto;
      }
      .area_form {
          width: 600px;
          margin-left: auto;
          display: flex;
          margin-right: auto;
      }
      .box_from{
          width: 500px;
          margin-right: 5px;
      }
      .box_btn{
          width: 100px;
      }
      .bg_main {
          height: 68vh;
      }
      .text_book_new{
          font-size: 50px;
      }
      .text-week{
          font-size: 50px;
      }
      .text_haeader_card {
          font-size: 16px;
      }
      .view {
          font-size: 12px;
      }
      .text_haeader_card_hit {
        font-size: 10px;
    }
    .box_new {
        top: 80%;
    }
    .box_new_sub {
        background-color: var(--bg-cover-new);
        border-radius: 0px 0px 5px 5px;
        position: absolute;
        opacity: 0.9;
        top: 63%;
        height: 38%;
        width: 100%;
        padding-left: 9px;
        padding-top: 5px;
    }
}


@media (min-width: 1200px) { 
    .cover_new_heading {
        font-size: 13px;
    }
    .box_new {
        top: 82%;
    }
     .box_logo{
          width: 30%;
          margin: 0px;
     }
     .text_haeader_card_hit {
        font-size: 16px;
    }
    
     .area_form{
          width: 460px;
          margin-left: auto;
          margin-right: auto;   
          display: flex;
     }
     .box_logo {
          width: 16%;
          margin: 0px;
      }
      .text_logo {
          font-size: 28px;
      }
      .area_logo {
          width: 30%;
          margin: 0px;
      }
      .logo {
          width: 85%;
          height: auto;
      }
      .text_logo {
          font-size: 20px;
      }
    .area_form {
          width: 700px;
          margin-left: auto;
          margin-right: auto;
          display: flex;
     }
     .box_btn{
          width: 190px;
      }
      .text_search {
          font-size: 60px;
      }
      .text_haeader_card {
          font-size: 21px;
      }
     
}
@media (min-width: 1440px) {
     .box_logo{
          width: 30%;
          margin: 0px;
     }
     .box_logo {
          width: 16%;
          margin: 0px;
      }
      .box_new {
        background-color: var(--bg-cover-new);
        border-radius: 0px 0px 5px 5px;
        position: absolute;
        opacity: 0.9;
        top: 81%;
        width: 100%;
        padding-left: 15px;
        height: 19%;
        padding-top: 15px;
    }
    .box_new_sub{
        background-color: var(--bg-cover-new);
        border-radius: 0px 0px 5px 5px;
        position: absolute;
        opacity: 0.9;
        top: 64%;
        height: 40%;
        width: 100%;
        padding-left: 15px;
       padding-top: 15px;
    }
    .box_new_sub_more{
        background-color: var(--bg-cover-new);
        border-radius: 5px 5px 5px 5px;
        position: absolute;
        opacity: 0.9;
        top: 0%;
        height: 103%;
        width: 100%;
        padding-left: 15px;
       padding-top: 15px;
    }
    .box_new_sub:hover{
        background-color:var(--btn-hover);
    }
    .box_new_sub_more:hover{
        background-color:var(--btn-hover);
    }
    .box_new:hover{
        background-color:var(--btn-hover);
}
    .box_session{
        margin-bottom: 80px;
        margin-top: 70px;
    }
    .cover_new_heading_sup{
        font-size: 13px;
        color: #FFF;
        margin: 0px;
    }
    .cover_new_heading {
        font-size: 15px;
    }
    .day_cover_sup {
        font-size: 13px;
        font-weight: 500;
        color: #fff;
        margin: 0px;
        margin-top: 5%;
    }
    .view_new_sup {
        font-size: 13px;
        font-weight: 500;
        color: #fff;
        margin-top: 25%;
    }
    .margin_more {
        margin-top: 15px;
    }
}

