.nav-link {
     color: var(--text-more-book);
 }
.tyde_book{
     color: var(--text-more-book);
}
.po_tyde_book{
     text-align: initial;
     margin-top: 5%;
}
 .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
     color: var(--text-more-book);
     background-color: var(--bg-more-book);
 }
 .box_icon_more_book{
     width: 67px;
     padding: 3px;
 }
 .po_tyde_book{
     width: 200px;
     /* background-color: rgb(223, 192, 39); */
 }
 .border_right{
     border-right: 2px solid rgb(213, 213, 213);
 }

 @media (min-width: 320px) { 
     .but_more_book {
          width: 100%;
     }
     .po_tyde_book {
          width: 76px;
          font-size: 11px;
          margin-left: -1px;
          /* background-color: rgb(223, 192, 39); */
      }
     /* .box_all_more_book{
     
     } */
     .box_icon_more_book{
          margin-left: -14px;
          padding: 3px;
      }
 }