@media (min-width: 320px) { 
     .btn_search {
          background-color: var(--btn-search);
          color: var(--text-search);
          width: 100%;
          height: 90%;
          font-weight: 600;
          border-radius: 5px;
          padding: 0px;
      }
      .but-h{
          height: 40px;
      }
    .btn_en{
          width: 60px;
          margin-left: 100px;
          /* background: linear-gradient(66.26deg, #5E60CE 6.86%, #80FFDB 100%); */
    }
    .box_search_advance{
          margin-top: 10px;
          height: 20px;
    }
    .text_EN{
      color: blueviolet;
    }
}
 
@media (min-width: 768px) { 
     .form_top{
          display: flex;
          width: 700px;
     }
     .form_bm{
          display: flex;
          width: 700px;
     }
     .me_form{
          margin-right: 5px;
     }
     .advance_me{
          width: 430px;
     }
     .advance_me_location{
          width: 200px;
     }
     .advace_me_language{
          width: 200px; 
     }
     .advace_me_search{
          width: 200px; 
     }
}
  
@media (min-width: 1024px) { 
     .box_search_advance{
          margin-top: 31px;
          height: 20px;
    }
    .form_top {
          width: 940px;
     }
     .form_bm {
          width: 940px;
     }
     .advance_me {
          width: 680px;
      }
      .advance_me_location{
          width: 300px;
     }
     .advace_me_language{
          width: 300px; 
     }
     .advace_me_search{
          width: 250px; 
     }
}
  
@media (min-width: 1200px) { 
     .box_search_advance{
          margin-top: 31px;
          height: 20px;
    }
    .form_top {
          width: 1124px;
     }
     .form_bm {
          width: 1124px;
     }
     .advance_me {
          width: 850px;
      }
      .advance_me_location{
          width: 380px;
     }
     .advace_me_language{
          width: 380px; 
     }
     .advace_me_search{
          width: 260px; 
     }
}
  
  

 @media (min-width: 1440px) { 
     .btn_add{
          background-color: var(--btn-tag);
          color: var(--text-btn-tag);
          width: 100%;
          border-radius: 10px;
     }
     .box_search_advance {
          margin-top: 41px;
          margin-bottom: 34px;
          height: 20px;
      }
    .form_top {
          width: 1300px;
     }
     .form_bm {
          width: 1300px;
          display: table-row-group;
          /* display: block; */
     }
     .advance_me {
          width: 250px;
      }
      .advance_me_location{
          width: 380px;
     }
     .advace_me_language{
          width: 380px; 
     }
     .advace_me_search{
          width: 260px; 
          margin-left: 111%;
          margin-bottom: 20px;
     }
     .btn_en {
          width: 60px;
          margin-left: 10px;
      }
 }