:root{
    --btn_advanced:#F8F9FA;
    --text-advanced:#00B9AE;
    --text-search_results:#037171;
}

.searchresults{
    color:var(--text-search_results)
}
.bg_main_search {
    height: 480px;
}
.page-link{
    color:var(--text-search_results)
}
.text_advanced{
    color: var(--text-search_results);
}
@media (min-width: 320px) { 
    .box_search_results{
        margin-top: 10px;
    }
    .bg_main_search {
        height: 240px;
    }
     .area_form_book{
          width: 1240px;
          margin-left: auto;
          margin-right: auto;
          display: flex;
      }
      .box_name_search{
          width: 222px;
      }
      .name_seach{
          width: 130px;
      }
      .margin_book{
          margin-top: 10%;
      }
      .name_title{
        width: 30%;
        padding: 3%;
      }
      .form_title{
        margin-bottom: 10px;
      }
      .form_search{
        margin-bottom: 10px;
      }
      .btn_search {
        background-color: var(--btn-search);
        color: var(--text-search);
        width: 100%;
        height: 90%;
        font-weight: 600;
        border-radius: 5px;
        padding: 0px;
    }
    .box_btn{
        width: 300px;
        margin: 2px;
    }
    .btn_advanced{
        background-color: var(--btn_advanced);
        color: var(--text-advanced);
        width: 100%;
        height: 90%;
        font-weight: 600;
        border-radius: 5px;
        padding: 0px;
    }
  }


  @media (min-width: 1024px) { 
    .bg_main_search {
        height: 150px;
    }
    .margin_book {
        margin-top: -2%;
    }
    .area_form {
        width: 900px;
    }
    .btn_search {
        width: 100%;
    }
    .btn_advanced{
        width: 100%;
    }
    .box_btn {
        width: 81px;
        height: 40px;
    }
    .form_title {
        width: 190px;
        height: 40px;
        margin-right: 4px;
    }
    .box_from {
        width: 530px;
        margin-right: 5px;
    }
    .tag_search{
        width: 40%;
        position: absolute;
        left: 25%;
    }
    .btn_tag {
        font-size: 15px;
    }
 }

 @media (min-width: 1200px) { 
    .icon_search_results_w{
        width: 30px;
    }
    .searchresults {
        color: var(--text-search_results);
        font-size: 27px;
    }
    .box_search_results {
        margin-top: 30px;
    }
    .bg_main_search {
        height: 180px;
    }
    .margin_book {
        margin-top: -1%;
    }
    .bg_main_search {
        height: 172px;
    }
    .margin_book {
        margin-top: -20%;
    }
    .tag_search {
        left: 24%;
    }
    .margin_book {
        margin-top: 0%;
    }
    .area_form {
        width: 1200px;
    }
    .box_btn {
        width: 181px;
        height: 40px;
    }
    .box_from {
        width: 640px;
        margin-right: 5px;
    }
 }
 /* @media (min-width: 1440px) { 
    .tag_search {
        left: 29%;
    }
 } */